@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root /* light */ {
    --background-body: #EFECCA;
    --background-input: #B2BE9D;
    --background-data: #4d4c4c;
    --background-tag: #a14d96;
    --fundo-modal: #FAF9EF;
    --background-input-hover: #C5CEB6;

    --color-body: #29272E;
    --color-title: #457358;
    --color-button: #ddd;
    --color-text: #000;
    --color-contraria: #ddd;
    --hover-buttons: #d6d2d2;
    
    --vermelho: #E78474;
    --vermelho-escuro: #DC452E;
}

:root[data-theme="dark"] {
    --background-body: #29272E;
    --background-input: #5c83747e;
    --background-data: #868686;
    --background-tag: #ad77a6;
    --fundo-modal: #29272E;
    --background-input-hover: #31695381;
    
    --color-body: #efecca;
    --color-title: #9EC8B9;
    --color-button: #838181ab;
    --color-text: #ddd;
    --color-contraria: #000;
    --hover-buttons: #C5CEB6;
    
    --vermelho: #E78474;
    --vermelho-escuro: #DC452E;
}

/* --------------------
   Reset e Estilos Base
---------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* -----------------------
    Estilo dos themas 
----------------------- */
body{
    height: 100%;
    width: 100%;
    background-color: var(--background-body);
    color:var(--color-body);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    border: 1px solid #ffffff70;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    
    transform: scale(1.5)
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    height: 20px;
    width: 20px;
    
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f7ff58;
}

.fa-sun {
    color: #f39c12;
}

.themes {
    display: flex;
    align-items: start;
    justify-content: start;

    height: 70px;
    margin: 0;
    padding: 30px;
    transition: background 0.2s linear;
} 

/* --------------------
        Principal
---------------------- */

#app {
    background-color: var(--background-body);
    max-width: 100vh; 
    margin: auto;
    margin-bottom: 10px;
    padding: 20px; 
    overflow-y: initial; 
    height:  100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 2px;
    border-radius: 7px;

}


h1 {
    font-size: 2em;
    text-align: center;
    color: var(--color-title); 
    margin: 0.5em 0;
}

/* -----------------------------
 Container de Entrada de Tarefas
-------------------------------- */

.input-container {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background: var(--background-input);
    border-radius: 6px;
    margin-bottom: 20px;
}

/* -----------------------
   Campos de Texto e Botão
------------------------- */

.input-container input[type="text"],
.input-container input[type="date"],
.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    background: var(--background-input);
    border: 2px solid #333;
    color: var(--color-text);
    font-weight: 500;
    border-radius: 6px;
    min-width: 120px;
}

::placeholder {
    color: var(--color-text);
    opacity: 1;
}


.input-container button {
    padding: 10px;
    background-color: var(--color-button);
    color: var(--color-text);
    font-weight: 500;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex: 0 0 auto;
}
.input-container button:hover {
    background-color: var(--hover-buttons);
}

/* ----------------------
   Contadores de Tarefas
------------------------- */

.counters {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    margin-bottom: 1em;
}

/* --------------------
   Lista de Tarefas
---------------------- */

#task-list .task-card {
    background-color: var(--background-input);
    border-radius: 5px;
    margin-bottom: 0.8em;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* -------------------
        Checkbox
---------------------- */

#task-list .task-card input[type="checkbox"] {
    color: #0D6EFD;
    margin-right: 10px;
}

/* --------------------
   Texto da Tarefa
---------------------- */

#task-list .task-card .task-text {
    flex-grow: 1;
    padding: 0 0.5em;
}

/* -------------------------
  Ícones de Editar e Remover 
---------------------------- */

.task-card #Editar, #Deletar {
    margin-right: 0;
}

.task-card i {
    color: var(--color-text); 
    margin: 0 10px; 
    cursor: pointer;
}

.task-card #Deletar:hover {
    color: var(--vermelho-escuro);
}

.task-card #Editar:hover {
    color: var(--background-data);
}

#task-list .task-card:hover {
    background-color: var(--background-input-hover);
}

/* --------------------
    Data e Etiqueta 
    Nas tarefas
---------------------- */

.task-card .task-date,
.task-card .task-tag {
    background-color: var(--background-data);
    color: var(--color-contraria);
    padding: 3px 6px;
    border-radius: 3px;
    margin-right: 3px; 
    font-size: 0.85em;
}

.task-card .task-tag {
    background-color: var(--background-tag);
}

/* tarefa concluída */
.task-card.completed .task-text {
    text-decoration: line-through;
    color: #757575;
}

/* --------------------
   Modal de Editar
---------------------- */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.603);
}

.modal-content {
    background-color: var(--fundo-modal);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #585858;
    width: 50%; 
    border-radius: 7px; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--vermelho);
    text-decoration: none;
    cursor: pointer;
}
/* ----------------
    Modal entradas
------------------- */
.modal-content input[type="text"],
.modal-content input[type="date"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px; 
    margin-left: 35px;
    background: var(--background-input);
    border: 2px solid #5a5a5a;
    border-radius: 5px;
}

#edit-task-text,
#edit-task-date,
#edit-task-tag{
    color: var(--color-contraria);
}

.modal-content button {
    padding: 10px 20px;
    background-color: var(--color-button); 
    color: var(--color-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; 
    margin-top: 10px;
    margin-left: 35px;
}

.modal-content button:hover {
    background-color: var(--hover-buttons); 
}
